Source: overlay-reader
Section: libs
Priority: optional
Build-Depends: cmake,
               debhelper,
               pkg-config,
               libboost-filesystem-dev,
               libzip-dev,
               python3-svg.path,
               libminui-dev,
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Standards-Version: 4.5.0
Homepage: https://github.com/droidian/overlay-reader

Package: liboverlay-reader
Section: libs
Architecture: any
Depends: ${misc:Depends},
Description: Library to read android runtime overlays 
 Library to read android runtime overlays.

Package: liboverlay-reader-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: liboverlay-reader (= ${binary:Version}),
         ${misc:Depends},
Description: Library to read android runtime overlays.
 Library to read android runtime overlays.
 .
 This package includes all the development headers and libraries for
 overlay-reader.

Package: getoverlay
Section: admin
Architecture: any
Depends: ${misc:Depends},
         liboverlay-reader,
Description: Tools to read android runtime overlays.
 Tools to read android runtime overlays. 

Package: getcutout
Section: admin
Architecture: any
Depends: ${misc:Depends},
         getoverlay,
Description: Tool to get info about display cutout for usage in Phosh
