[Unit]
Description=generate the json file needed for phosh cutout
After=minui-getres.service
Before=phosh.service
Wants=android-mount.service

[Service]
Type=oneshot
ExecStart=-/bin/sh -c "getcutout -o /var/lib/droidian/phosh-notch/halium.json"

[Install]
WantedBy=graphical.target
